<!DOCTYPE html>

<!-- Hello Nerd!
Still todo:

-->

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">

    <title>BRCH eResus</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="./assets/css/eResus.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <!-- The PDF overlay (if needed)-->
    <div id="pdfOverlay" class="overlay">
      <div id="DMSlink" class="">
          <a id="originalpdflink" class="dmsbtn" href="#">Link to DMS version</a>
        </div>
        <!-- Overlay content -->
        <div id="pdfgoeshere" class="overlay-content">
            <!--<embed id="pdfFrame" src="" type="application/pdf" width="100%" height="100%"> -->
        </div>
    </div>


    <div class="container">
            <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                <div class="col-sm-3"><img src="assets/img/CED_Rings_2_Logo.PNG" width="100%"></div>
                <div class="col-sm-9">
                    <h1 class="text-center" style="">BRHC Children's  ED - eResus</h1>
                </div>
            </div>

        <!-- Page Content Holder -->
        <div id="content">
            <div class="row">
            <nav aria-label="breadcrumb" id="breadcrumbs">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" link='index'>Index</li>
                    <!-- <li class="breadcrumb-item"><a href="#">Medical</a></li>
                    <li class="breadcrumb-item">Trauma</li>
                    <li class="breadcrumb-item active" aria-current="page">Resus</li> -->
                </ol>
            </nav>
        </div>
            
        <div id="cards">
 <!--                 <div class="card" style="width: 12em;">
                  <img class="card-img-top" src="assets/img/medical.png" alt="Medical">
                  <div class="card-body">
                    <h5 class="card-title text-center">Medical</h5>
                  </div>
                </div>

                <div class="card" style="width: 12em;">
                    <img class="card-img-top" src="assets/img/trauma.png" alt="Trauma">
                    <div class="card-body">
                      <h5 class="card-title text-center">Trauma</h5>
                    </div>
                </div>
 -->
            </div>
            <div class="row">
                <div id="contentBox" class="container-fluid"></div>
            </div>
            
            <div class="line"></div>
            eResus 2022
        </div>
    
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
    <script src="./assets/js/eResus.js"></script>
    
</body>

</html>