/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/*font-family: 'Noto Sans', sans-serif;
*/
  
#guidelineBox > div {
    padding-top: 15px;
    padding-bottom: 15px;
  }

body {
    font-family: 'Poppins', sans-serif;
    background: #EBEFF4;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 80%;
    margin-left: 10%;
    align-items: stretch;
    /*perspective: 1500px;*/
    background: #fafafa;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    /*transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;*/
}

/*#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}
*/

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 0px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}


#sidebar ul li a {
    padding: 10px 10px 10px 40px;
    font-size: 1.0em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a {
    color: #fff;
    background: #6d7fcc;
    border: 2px solid #fff;
    border-radius: 12px;
    font-weight: bold;
}

/*
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}



ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

*/

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

#breadcrumbs {
font-size: 25px;
}

div.col.col-lg-3{
  padding-top: 15px;
  padding-bottom: 15px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    /*transition: all 0.3s;*/
}

#contentBox img[src*="#centre"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    }

#contentBox img[src*="#left"] {
        display: block;
        margin-left: none;
        margin-right: auto;
        width: 40%;
        }


#contentBox p{
color: #4d4d4d;
font-family: 'Noto Sans', sans-serif;
font-weight: 300;
font-style: normal;
font-size: 15px;
letter-spacing: .5px;
/*line-height: 1.7em;
margin-bottom: 1.5em;*/
word-wrap: break-word;
margin-top: 20;
white-space: pre-wrap;
text-align: left;
}

#contentBox h1 {
margin: .67em 0;
font-family: 'Noto Sans', sans-serif;
font-weight: 700;
font-style: normal;
letter-spacing: 0em;
line-height: 1.3em;
text-decoration: none;
text-transform: none;
color: #333;
font-size: 40px;
white-space: pre-wrap;
}

#contentBox h2 {
text-align: left;
color: #333;
font-family: 'Noto Sans', sans-serif;
font-weight: 700;
font-style: normal;
letter-spacing: 0em;
line-height: 1.2em;
text-decoration: none;
text-transform: none;
margin: 0;
font-size: 1.6vw;
}

#contentBox h3 {
    text-align: left;
    color: #333;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0em;
    line-height: 1.1em;
    text-decoration: none;
    text-transform: none;
    /*margin: 0;*/
    font-size: 1.5vw;
    }

#contentBox ul {
color: #4d4d4d;
font-family: 'Noto Sans', sans-serif;
font-weight: 300;
font-style: normal;
font-size: 15px;
/*letter-spacing: .5px;
line-height: 1.7em;*/
word-wrap: break-word;
/*margin-bottom: 0;*/
}

#contentBox li {
color: #4d4d4d;
font-family: 'Noto Sans', sans-serif;
font-weight: 300;
font-style: normal;
font-size: 15px;
/*letter-spacing: .5px;
line-height: 1.7em;*/
/*list-style-type: none;*/
word-wrap: break-word;
}

#contentBox a, a:hover, a:focus {
  text-decoration: underline;
  text-decoration-color: red;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}



/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 100%;
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    /*transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }

  /* Content header for the overlay */
  .overlay-header {
    position: relative;
    top: 0%; /* 0% from the top */
    width: 100%; /* 100% width */
    /*height: 2%; /* 5% width */
    text-align: center; /* Centered text/links */
    /*margin-top: 0px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }

  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    /*top: 2%; /* 5% from the top */
    width: 100%; /* 100% width */
    height: 98%; /* 100% width */
    text-align: center; /* Centered text/links */
    /*margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    /*display: block; /* Display block instead of inline */
    display: inline-block;
    /* transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    /*position: absolute;
    top: 20px;
    right: 45px;
    font-size: 16px;*/
    background-color: #7386D5;
    border-radius: 12px;
  }
  
  .overlay .dmsbtn {
    /*position: absolute;
    top: 20px;
    right: 150px;
    font-size: 16px;*/
    background-color: #7386D5;
    border-radius: 12px;
  }
  
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  */
  
/* ---------------------------------------------------
    chromePluginAlert
----------------------------------------------------- */

.chromePluginAlert {
  background-color: #004A7F;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

@-moz-keyframes glowing {
  0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}